# Category Focus

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Sun Sep 05 18:24:48 2021

@author: JS
Modified: Rachel 
"""

In [ ]:
"""
1. run python3 category_focus.py, this will read from focus_cc view to s3://iprice-dasync-production/category-focus/cc/
	
2. go to AWS glue, run this crawler iprice-dasync-category-focus (only run this when you have add more columns)
	
3. once crawler done. run python3 athena-schema-update.py, this will fix the spill over issue (only do this if you run crawler)
"""

In [1]:

import boto3
import time

In [2]:
bucket = 'iprice-dasync-production'
region = 'ap-southeast-1'
key_path = 'category-focus'
result_output_path = 's3://{}/{}'.format(bucket, key_path)

In [ ]:
session = boto3.Session(
  aws_access_key_id='AKIAJRQRSAL7JEBFJUFQ',
  aws_secret_access_key='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',
  region_name='ap-southeast-1'
)

s3 = session.client('s3')

In [69]:
bucket = 'iprice-dasync-production'
region = 'ap-southeast-1'
key_path = 'category-focus'
result_output_path = 's3://{}/{}'.format(bucket, key_path)

In [3]:

def run_query(query: str, cc: str):
    client = boto3.client('athena', aws_access_key_id='AKIAJRQRSAL7JEBFJUFQ',
    aws_secret_access_key='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', region_name=region)
    res_exec_id = client.start_query_execution(
        QueryString=query,
        QueryExecutionContext={
            'Database': 'dasync',
        },
        ResultConfiguration={
            'OutputLocation': '{}/{}/'.format(result_output_path, cc)
        }
    )
    iterations = 360 # 30 mins
    while (iterations > 0):
        iterations = iterations - 1
        response_get_query_details = client.get_query_execution(
            QueryExecutionId=res_exec_id['QueryExecutionId']
        )
        status = response_get_query_details['QueryExecution']['Status']['State']

        if (status == 'FAILED') or (status == 'CANCELLED'):
            return False

        elif status == 'SUCCEEDED':
            return True

        else:
            time.sleep(5)
    return False

In [4]:


def s3_query_clenaup(cc: str, suffix=None):
    s3 = boto3.resource('s3', aws_access_key_id='AKIAJRQRSAL7JEBFJUFQ',
  aws_secret_access_key='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',)
    s3_bucket = s3.Bucket(bucket)
    for obj in s3_bucket.objects.filter(Prefix='{}/{}/'.format(key_path, cc)):
        if suffix and not obj.key.endswith(suffix):
            continue
        print('delete {}'.format(obj.key))
        s3.Object(bucket, obj.key).delete()

def get_view_query(cc: str):
    sql = """
    SELECT *
    FROM focus_{};
    """.format(cc)
    return run_query(sql, cc)


if __name__ == '__main__':
    for cc in ('my', 'id', 'ph', 'sg', 'th', 'vn'):
        s3_query_clenaup(cc, '.csv')
        result = get_view_query(cc)
        print('query {}: {}'.format(cc, result))
        s3_query_clenaup(cc, '.csv.metadata')

delete category-focus/my/8d4b72ce-72e6-4e3c-b5cd-8ab81eb2429a.csv
query my: True
delete category-focus/my/1d53f517-7565-4958-9524-667b1a156622.csv.metadata
delete category-focus/id/43ddf90e-da75-4094-8ab8-32c876a92c24.csv
query id: True
delete category-focus/id/75e76003-2b68-4712-bae9-ce409f618df4.csv.metadata
delete category-focus/ph/f373875e-f9a4-4153-86a7-d774d644b2ed.csv
query ph: True
delete category-focus/ph/3da876c0-761a-4286-ac7b-2319b70a14bc.csv.metadata
delete category-focus/sg/b66f8c30-d46b-4806-8463-2b910c3792ed.csv
query sg: True
delete category-focus/sg/8c0494f9-1476-47b6-bc11-7699c2ec5fab.csv.metadata
delete category-focus/th/1ba72749-6426-494e-a69a-f84b73a058f9.csv
query th: True
delete category-focus/th/655dbe3a-6c9b-42d5-90f6-17e82b9b4899.csv.metadata
delete category-focus/vn/84a081c7-1991-4b48-823b-98a3307f9ea9.csv
query vn: True
delete category-focus/vn/76dd51d8-cace-42ca-95ba-9587d2b97cc2.csv.metadata

# Athena Schema Update

In [ ]:
"""
Usage: python3 athena-schema-update.py
This is to solve shopee feed spill over issue
Also remove dummy columns generated by Glue
"""

In [5]:
import boto3

DATABASE_NAME = 'dasync'
region = 'ap-southeast-1'
client = boto3.client('glue', aws_access_key_id='AKIAJRQRSAL7JEBFJUFQ',
  aws_secret_access_key='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',
  region_name=region)

In [6]:

def get_tables():
    response = client.get_tables(
        DatabaseName=DATABASE_NAME,
        Expression='category_focus_.*',
    )
    return response['TableList']

def create_table(name, params):
    columns = []
    for col in params['StorageDescriptor']['Columns']:
        if col['Name'].startswith('col'):
            continue
        columns.append(col)

    response = client.create_table(
        CatalogId=params['CatalogId'],
        DatabaseName=DATABASE_NAME,
        TableInput={
            'Name': name,
            'LastAccessTime': params['LastAccessTime'],
            'Retention': params['Retention'],
            'StorageDescriptor': {
                'Columns': columns,
                'Location': params['StorageDescriptor']['Location'],
                'InputFormat': params['StorageDescriptor']['InputFormat'],
                'OutputFormat': params['StorageDescriptor']['OutputFormat'],
                'Compressed': params['StorageDescriptor']['Compressed'],
                'NumberOfBuckets': params['StorageDescriptor']['NumberOfBuckets'],
                'SerdeInfo': {
                    'SerializationLibrary': 'org.apache.hadoop.hive.serde2.OpenCSVSerde',
                    'Parameters': {
                        'escapeChar': '\\',
                        'quoteChar': '"',
                        'separatorChar': ',',
                    }
                },
                'BucketColumns': params['StorageDescriptor']['BucketColumns'],
                'SortColumns': params['StorageDescriptor']['SortColumns'],
                'Parameters': params['StorageDescriptor']['Parameters'],
                'StoredAsSubDirectories': params['StorageDescriptor']['StoredAsSubDirectories'],
            },
            'PartitionKeys': params['PartitionKeys'],
            'TableType': params['TableType'],
            'Parameters': params['Parameters'],
        },
    )
    print('{} created'.format(name))

In [7]:

def delete_table(table):
    client.delete_table(
        DatabaseName=DATABASE_NAME,
        Name=table,
    )
    print('{} deleted'.format(table))

if __name__ == '__main__':
    tables = get_tables()
    for table in tables:
        delete_table(table['Name'])
        create_table(table['Name'], table)

category_focus_id deleted
category_focus_id created
category_focus_my deleted
category_focus_my created
category_focus_ph deleted
category_focus_ph created
category_focus_sg deleted
category_focus_sg created
category_focus_th deleted
category_focus_th created
category_focus_vn deleted
category_focus_vn created

# Normalised Default values by Category1,2

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('default-normalised.csv')

df.info()

In [ ]:
df['crossGMV'] = df.groupby(['Category 1 (Shopee)', 'Category 2 (Shopee)','Category 3 (Shopee)'])['Market_Demands (US$ monthly)'].transform('sum')

df['avgPrice'] = df.groupby(['Category 1 (Shopee)', 'Category 2 (Shopee)','Category 3 (Shopee)'])['Avg Cat price($)'].transform('mean')
df['avgPurchased'] = df.groupby(['Category 1 (Shopee)', 'Category 2 (Shopee)','Category 3 (Shopee)'])['Purchase Frequency (yearly)'].transform('mean')

In [ ]:
df.to_csv('file_name.csv')

# User Agent Transformation

In [2]:
!pip install user_agents

Requirement already satisfied: user_agents in c:\users\rachel le\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: ua-parser>=0.10.0 in c:\users\rachel le\anaconda3\lib\site-packages (from user_agents) (0.10.0)

In [3]:
#Step 3
from user_agents import parse 
import pandas as pd
from pyathena import connect
import requests

# Get data from Athena

conn = connect(aws_access_key_id='AKIAJRQRSAL7JEBFJUFQ',
               aws_secret_access_key='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',
               s3_staging_dir='s3://athena-user-queries/test-folder',
               region_name='ap-southeast-1')

query_all_transactions = pd.read_sql("""
                                    select sum("ipg:order") as ord, "ipg:date", "ipg:product", "ipg:site", "ipg:useragent", "ipg:merchantname", "ipg:cc" as Country, "bi:year_month" as Month
from "ho"."ho_transactions"
where "bi:year_month">='2021-07'
and "ipg:product" in ('shop', 'pc', 'static', 'trends')
and "ipg:site" in ('iprice.vn', 'iprice.ph', 'iprice.co.id', 'iprice.my', 'iprice.sg', 'iprice.hk', 'ipricethailand.com')
group by 2,3,4,5,6, 7, 8
                                """, conn)

In [4]:
query_all_transactions.tail()

,ord,ipg:date,ipg:product,ipg:site,ipg:useragent,ipg:merchantname,Country,Month
279864,1,2021-08-17,shop,ipricethailand.com,Mozilla/5.0 (Linux; Android 11; SM-A315G) Appl...,Lazada,TH,2021-08
279865,1,2021-08-21,shop,ipricethailand.com,Mozilla/5.0 (Linux; Android 8.0.0; RNE-L22) Ap...,Lazada,TH,2021-08
279866,1,2021-08-17,shop,ipricethailand.com,Mozilla/5.0 (Linux; Android 11; vivo 1901) App...,LazMall,TH,2021-08
279867,2,2021-08-18,shop,ipricethailand.com,Mozilla/5.0 (Linux; Android 9; SM-G973F) Apple...,Lazada,TH,2021-08
279868,1,2021-08-19,shop,ipricethailand.com,Mozilla/5.0 (Linux; Android 8.1.0; DUB-LX3) Ap...,Lazada,TH,2021-08

In [5]:
#Step 4

device_OS = []

for user in query_all_transactions['ipg:useragent']:
    user_agent = parse(str(user))
    device_OS.append(user_agent.os.family)
    
result = pd.DataFrame(columns= ['device_OS'] )
query_all_transactions['device_OS'] = device_OS

In [6]:
query_all_transactions['device_OS'].unique()

array(['Mac OS X', 'iOS', 'Windows', 'Android', 'Other', 'Linux',
       'Fedora', 'Chrome OS', 'Ubuntu', 'Tizen'], dtype=object)

In [ ]:
# An option to clean data
# not so optimal because value being replaced 
query_all_transactions['device_OS'].replace({"Mac OS X": "Web Browser", "Windows": "Web Browser", "Linux": "Web Browser"
, "Fedora": "Web Browser", "Chrome OS": "Web Browser", "Ubuntu": "Web Browser", "Tizen": "Web Browser"}, inplace=True)

In [22]:
import numpy as np
# create a list of our conditions
conditions = [
    (~query_all_transactions['device_OS'].isin(["Android", "iOS", "Other"] )),
    (query_all_transactions['device_OS'].isin (["Android"])),
    (query_all_transactions['device_OS'].isin(["iOS"])),
    (query_all_transactions['device_OS'].isin(["Other"]))
    ]

# create a list of the values we want to assign for each condition
values = ['Web Browsers', 'Mobile Android', 'Mobile iOS', 'Mobile Others']

# create a new column and use np.select to assign values to it using our lists as arguments
query_all_transactions['device_class'] = np.select(conditions, values)

# display updated DataFrame
query_all_transactions.head()

,ord,ipg:date,ipg:product,ipg:site,ipg:useragent,ipg:merchantname,Country,Month,device_OS,device_class
0,1,2021-09-02,shop,iprice.hk,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,mankind,HK,2021-09,Mac OS X,Web Browsers
1,1,2021-09-12,shop,iprice.hk,Mozilla/5.0 (iPhone; CPU iPhone OS 14_7_1 like...,zalora,HK,2021-09,iOS,Mobile iOS
2,1,2021-09-05,shop,iprice.vn,Mozilla/5.0 (Windows NT 10.0; Win64; X64) Appl...,vuahanghieu,VN,2021-09,Windows,Web Browsers
3,3,2021-09-01,shop,iprice.vn,Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like M...,Shopee,VN,2021-09,iOS,Mobile iOS
4,1,2021-09-01,shop,iprice.vn,Mozilla/5.0 (Linux; Android 10; SM-J600G) Appl...,Shopee,VN,2021-09,Android,Mobile Android

In [17]:
final = query_all_transactions.groupby(['ipg:date', 'ipg:site', 'ipg:merchantname', 'Country', 'Month', 'device_class'])['ord'].sum().reset_index()

In [19]:
final.to_csv('transaction-final.csv')

In [8]:
query_all_clicklog = pd.read_sql("""
                                    SELECT count(_id) AS "clicks", "dt",
         concat(substr("dt",1,4),
         '-', substr("dt", 5, 2))AS "c_MONTH", _source.site as "c_site",_source.store.merchantId as "c_merchantid",_source.useragent
    FROM "click_log"."click_log_all"
    WHERE "$PATH" LIKE '%.json-aa.gz'
            AND _source is NOT null
            AND dt >= '20210801'
            AND _source.site IN ('iprice.vn', 'iprice.ph', 'iprice.co.id', 'iprice.my', 'iprice.sg', 'iprice.hk', 'ipricethailand.com')
            AND _type = 'product'
    GROUP BY  2,3,4,5,6
                                """, conn)

In [9]:
#Step 4

device_OS = []

for user in query_all_clicklog['useragent']:
    user_agent = parse(str(user))
    device_OS.append(user_agent.os.family)
    
result = pd.DataFrame(columns= ['device_OS'] )
query_all_clicklog['device_OS'] = device_OS

In [24]:
query_all_clicklog['device_OS'].unique()

array(['iOS', 'Android', 'Windows', 'Mac OS X', 'Other', 'Ubuntu',
       'Linux', 'Chrome OS', 'Tizen', 'Fedora', 'Symbian OS',
       'BlackBerry OS', 'Windows Phone', 'Solaris', 'Mac OS', 'Maemo',
       'NetBSD', 'FreeBSD', 'SUSE', 'KaiOS', 'WebTV', 'Kindle', 'Debian',
       'Slackware', 'Firefox OS', 'OpenBSD', 'Windows Mobile',
       'Symbian^3 Anna', 'PCLinuxOS', 'Chromecast', 'Nokia Series 40'],
      dtype=object)

In [25]:
# create a list of our conditions
conditions = [
    (~query_all_clicklog['device_OS'].isin(["Android", "iOS", "Other"] )),
    (query_all_clicklog['device_OS'].isin (["Android"])),
    (query_all_clicklog['device_OS'].isin(["iOS"])),
    (query_all_clicklog['device_OS'].isin(["Other"]))
    ]

# create a list of the values we want to assign for each condition
values = ['Web Browsers', 'Mobile Android', 'Mobile iOS', 'Mobile Others']

# create a new column and use np.select to assign values to it using our lists as arguments
query_all_clicklog['device_class'] = np.select(conditions, values)

# display updated DataFrame
query_all_clicklog.head()

,clicks,dt,c_MONTH,c_site,c_merchantid,useragent,device_OS,device_class
0,3,20210808,2021-08,iprice.hk,lookfantastic.com,Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like M...,iOS,Mobile iOS
1,2,20210808,2021-08,iprice.hk,amazon.com,Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like M...,iOS,Mobile iOS
2,5,20210808,2021-08,iprice.hk,ssense.com,Mozilla/5.0 (iPhone; CPU iPhone OS 14_7_1 like...,iOS,Mobile iOS
3,2,20210808,2021-08,iprice.hk,shopbop.com,Mozilla/5.0 (Linux; Android 9; SM-A7050) Apple...,Android,Mobile Android
4,2,20210808,2021-08,iprice.hk,newegg.com,Mozilla/5.0 (Linux; Android 10; Nokia 6.1 Plus...,Android,Mobile Android

In [28]:
final_clicklog = query_all_clicklog.groupby(['dt', 'c_site', 'c_merchantid', 'c_MONTH', 'device_class'])['clicks'].sum().reset_index()
final_clicklog.to_csv('clicklog-final.csv')